<div>
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      (ngModelChange)="onSearch($event)" 
      placeholder="Search posts...">
    
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    
    <ul *ngIf="results$ | async as results; else noResults">
      <li *ngFor="let result of results">
        <strong>{{ result.title }}</strong><br />
        {{ result.body }}
      </li>
    </ul>
  
    <ng-template #noResults>
      <p>No results found.</p>
    </ng-template>
  </div>
  