<div class="login-container">
  <form [formGroup]="loginForm">
    <h2>Login</h2>

    <div class="form-group">
      <label for="name">Username</label>
      <input id="name" type="text" formControlName="name">
      <div *ngIf="loginForm.controls['name'].touched && loginForm.controls['name'].invalid">
        <small *ngIf="loginForm.controls['name'].errors?.['required']">Username is required</small>

      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
        <small *ngIf="loginForm.controls['password'].errors?.['required']">password is required</small>

      </div>
    </div>

    <button type="button" (click)="Submit()">Submit</button>
  </form>
</div>
