.full-width-table {
  width: 100%;
  margin-top: 10px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.filter-field {
  width: 50%;
}

.add-button {
  font-weight: bold;
  height: 40px;
}
